<div id="startGameScreen">

    <h1>WebGL Asteroids!</h1>

    <h2> How to play:</h2>

    <div class="text">
        <div>Use <span class="key">SPACE</span> to fire lasers to take out the asteroids!</div>
        <div>Move using either
            <span class="key">W</span>, <span class="key">S</span>, <span class="key">A</span>, <span
                class="key">D</span>
            -or-
            <span class="key">&#8679;</span>, <span class="key">&#8681;</span>, <span class="key">&#8678;</span>, <span
                    class="key">&#8680;</span>
        </div>
        <div>Press <span class="key">P</span> to pause the game!</div>
    </div>

    <span ng-click="startGame()" class="button">Play!</span>

    <div class="footnote">By <a href="http://digitalzebra.net" target="_blank">Andrew Gerber</a></div>
    <div class="footnote"><a href="http://bitbucket.org/digitalzebra/webglasteroids" target="_blank">Get the code!</a></div>
</div>
